@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Пользователи";
}
<h1>@ViewData["Title"]</h1>

<table>
    <tr class="header">
        <td>Пользователь</td>
        <td>E-Mail</td>
        <td>Телефон</td>
        <td>Блокировка</td>
    </tr>
    @foreach (var client in ViewBag.Clients)
    {
        <tr>
            <td>@client.Login</td>
            <td>@client.Email</td>
            <td>@client.Phone</td>
            <td>
                <a href="/Client/BlockClient/@client.Id">
                    @if (client.Blocked)
                    {
                        <b>Разблокировать</b>
                    }
                    else
                    {
                        <b>Заблокировать</b>
                    }
                </a>
            </td>
        </tr>
    }
</table>