table, th, td, tr {
    border: 1px solid black;
    padding: 8px;
}
.header {
    font-weight: bold;
    text-align: center;
}

body {
    line-height: 1;
    margin: 0;
}

a.action {
    font-weight: bold;
}

.nav-link {
    font-weight: bold;
}